@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.user-container {
  position: absolute;
  display: flex;
  top: 20vh;
  left: 4vw;
  width: 18vw;
  height: 5vh;
  align-items: center;
  font-size: larger;
}

.email-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 26.5vh;
  left: 4vw;
  width: 18vw;
  height: 5vh;
  font-size: 1em;
}

#email {
  background-color: #d6d6d6;
}

.firstname-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 42vh;
  left: 4vw;
  width: 18vw;
  height: 5vh;
  font-size: 1em;
}

#firstname {
  background-color: #d6d6d6;
}

.lastname-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 48.5vh;
  left: 4vw;
  width: 18vw;
  height: 5vh;
  font-size: 1em;
}

#lastname {
  background-color: #d6d6d6;
}

.savedNews {
  position: relative;
  top: 8vh;
  left: 30vw;
  cursor: pointer;
  font-size: 1.2vw;
  height: 50vh;
  width: 60vw;
  background-color: #d6d6d6;
}

.myComments {
  position: relative;
  top: 12vh;
  left: 30vw;
  cursor: pointer;
  font-size: 1.2vw;
  height: 25vh;
  width: 60vw;
  background-color: #d6d6d6;
}

#change_email_btn{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 34.5vh;
  left: 4vw;
  width: 10vw;
  height: 5vh;
  font-size: 1em;

  align-items: center;
  font-size: larger;
  justify-content: center;
}

#change_password {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 66.5vh;
  left: 4vw;
  width: 10vw;
  height: 5vh;
  font-size: 1em;

  align-items: center;
  font-size: larger;
  justify-content: center;
}

#change_email_btn:hover {
  background-color: rgb(27, 160, 75);
}

#change_password:hover {
  background-color: rgb(27, 160, 75);
}

#delete_user:hover {
  background-color: rgb(218, 0, 0);
  cursor: pointer;
}


#update_user:hover {
  background-color: rgb(27, 160, 75);

}

#delete_user {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 76.5vh;
  left: 4vw;
  width: 10vw;
  height: 5vh;
  font-size: 1em;
  align-items: center;
  font-size: larger;
  justify-content: center;
}

#update_user {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 56.5vh;
  left: 4vw;
  width: 10vw;
  height: 5vh;
  font-size: 1em;
  align-items: center;
  font-size: larger;
  justify-content: center;
}


.authButton{
  position: absolute;
  display: flex;
  top: 5vh;
  right: 4vw;
  align-items: center;
}

.navbar {
  align-self: center;
  margin-left: 14vw;
}