@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.newsFlash {
  margin-top: 4.5vh;
  cursor: pointer;
  font-size: 2.2em;
  position: absolute;
  left: 7vw;
}

nav {
  margin-top: 4.5vh;
  left: 20vw;
  right: 20vw;
  position: absolute;
  justify-content: space-evenly;
  overflow: hidden;
}

nav a {
  /*text-align:justify;*/
  background-color: #c7c7c7;
  width: 9vw;
  justify-content: space-between;
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 10px; /* Add margin to create space between elements */
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

.last-child {
  position: absolute;
  right: 0;
}

.search-container {
  position: absolute;
  display: flex;
  top: 20vh;
  left: 4vw;
  width: 18vw;
  height: 5vh;
  background-color: #d6d6d6;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

#searchbar {
  background-color: #e6e6e6;
}

.checkbox-container {
  background-color: #d6d6d6;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 26.5vh;
  left: 4vw;
  width: 18vw;
  height: 20vh;
  background-color: #d6d6d6;
  font-size: 1em;
  
}
#date_checkboxDay {
  margin-top: 3vh;
  cursor: pointer;
  
}

#date_checkboxWeek {
  cursor: pointer;
}

#timeframe {
  margin-top: 2vh;
  display: flex;
 
}
.searchByDate {
  background-color:#6e6e6e;
  margin: 1vw;
  width: 7vw;

}

.latestNews{
  position: relative;
  top: 15vh;
  left: 8vw;
  cursor: pointer;
  font-size: 1.2vw;
  height: 80vh;
  width: 60vw;
  background-color: #d6d6d6;
}

.welcome{
  background-color: transparent;
  color: black;
}

.welcome:hover{
  background-color: transparent;
}

.user-container {
  position: absolute;
  display: flex;
  top: 20vh;
  left: 4vw;
  width: 18vw;
  height: 5vh;
  align-items: center;
  font-size: larger;
}

.email-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 26.5vh;
  left: 4vw;
  width: 18vw;
  height: 5vh;
  font-size: 1em;
}

#email{
  background-color: #d6d6d6;
}

.firstname-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 33vh;
  left: 4vw;
  width: 18vw;
  height: 5vh;
  font-size: 1em;
}

#firstname{
  background-color: #d6d6d6;
}

.lastname-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 39.5vh;
  left: 4vw;
  width: 18vw;
  height: 5vh;
  font-size: 1em;
}

#lastname{
  background-color: #d6d6d6;
}

.savedNews{
  position: relative;
  top: 15vh;
  left: 8vw;
  cursor: pointer;
  font-size: 1.2vw;
  height: 50vh;
  width: 60vw;
  background-color: #d6d6d6;
}

.myComments{
  position: relative;
  top: 20vh;
  left: 8vw;
  cursor: pointer;
  font-size: 1.2vw;
  height: 25vh;
  width: 60vw;
  background-color: #d6d6d6;
}

#change_password{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 65.5vh;
  left: 4vw;
  width: 10vw;
  height: 5vh;
  font-size: 1em;
  background-color: #d6d6d6;
  align-items: center;
  font-size: larger;
  justify-content: center;
}

#change_password:hover {
  background-color: #ddd;
  color: black;
}

#delete_user{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 75.5vh;
  left: 4vw;
  width: 10vw;
  height: 5vh;
  font-size: 1em;
  background-color: #d6d6d6;
  align-items: center;
  font-size: larger;
  justify-content: center;
}





